body {font-family: 'Signika', sans-serif;
min-height: 100vh;
display: flex;
flex-direction: column;}

.titulos {
    font-family: "raleway" sans-serif;
}
.bg-navbar {
    background-color:#fdbb2d ;
}
.jumbo-color {background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
padding: 4rem 3rem; }

.card-hotel {
    width: 14rem;
    border-color: blueviolet;
    min-height: 300px;
}
.text-justify {
    text-align: justify;
}
.footer {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    margin-top: auto;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .social ul {
  list-style:none;
  }
  .social  a {
  margin: 10px;
  display: inline-block;
  color: white;
  background: black;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  }
  .social  .icon-facebook {background:#3b5998 ;}
  .social  .icon-twitter {background:#00abf0;}
  .social  .icon-google {background:#d95232 ;}